.party-wrapper {
	position: relative;
	margin-top: 25px;
	margin-right: 35px;
	display: grid;
	grid-template-columns: 5fr 3fr;
	width: 350px;
	min-height: 150px;
	border-radius: 2px;
	background: #fbfbfb;
	box-shadow: 0px 0px 3.5px 2.5px #00000014;

	animation: partyCardSlideIn 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);

	.details-container {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 12px;
		justify-content: space-around;

		.detail-row {
			font-size: 13px;
			display: flex;
			flex-direction: column;

			span {
				display: inline;
			}

			#title {
				text-transform: uppercase;
				color: #424242;
				font-weight: bold;

				font-family: 'Oswald', sans-serif;
				letter-spacing: 0.5px;
			}

			#name {
				font-weight: normal;
				margin-left: 4px;
				// font-size: 13px;
			}
		}

		.details-title {
			font-weight: 600;
			font-size: 12px;
			color: rgba(0, 0, 0, 0.75);
			margin-bottom: 3px;
		}

		#party-name {
			flex-direction: row;
			font-size: 15px;
			margin-bottom: 7px;
			align-items: center;
		}

		#description .details-value {
			display: block;
			margin-left: 0;
			// margin-top: 2px;
		}

		.sub-details-container {
			// display: grid;
			// grid-template-columns: 1fr 1fr 2fr;
			display: flex;
			justify-content: space-between;
			text-align: center;
			margin-top: 10px;

			#payment svg {
				// color: #6fa037;
				width: 7px;
				margin-top: 2px;
				cursor: pointer;
				transition: 800ms;
			}
		}

		.edit-btn {
			width: 14px;
			position: absolute;
			right: 5px;
			top: 10px;
			cursor: pointer;
		}
	}

	.time-remaining-cta-container {
		// background-color: rgb(202, 202, 202);
		background-color: #616c70;
		display: flex;
		/* justify-content: center; */
		align-items: center;
		flex-direction: column;

		.time-remaining-container {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: 85%;
			justify-content: center;
			align-items: center;

			color: white;

			#title {
				font-size: 11px;
				margin-bottom: 5px;
				max-width: 100px;
			}

			#time {
				font-size: 22px;
				font-weight: bold;
			}

			#time-remaining {
				text-align: center;
				display: flex;
				flex-direction: column;
			}

			.time-start-end-container {
				font-size: 12px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 100%;

				span {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
				}

				.detail-row {
					margin-top: 15px;
					text-align: center;
				}
			}
		}

		.cta-container {
			width: 100%;
			position: relative;

			button {
				position: relative;
				width: 100%;
				border: none;
				padding: 7px 0;
				background-color: #6fa037;
				color: white;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: .5px;
				border: 3px solid #6fa037;

				span {
					z-index: 100;
				}
			}
		}
	}
}

.fill {
	background-color: rgba(255, 255, 255, 0.35);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1;
	animation: progressAnimiation 2s linear infinite;
	max-width: 100%;
	overflow: hidden;
	transition: 1s ease-in;

	// border-right: 4px solid red;
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 1px;
		top: -10px;
		height: 15px;
		right: 0;
		background: #fdfdfd9e;
		box-shadow: 0 0 2px 1px #ffffff89;
		animation: glow 1000ms linear infinite normal;
	}

	&:before {
		// background: #fff700;
	}

	&:after {
		animation-delay: 500ms;
		// background: #1f0b6d;
		// animation: name duration timing-function delay iteration-count direction fill-mode;
	}
}

.normal-background {
	background-color: #fbfbfb;
}

.reservation {
	background-color: #c9dfeb !important;
}

.over-due {
	background-color: #f68e8e;
}

@keyframes progressAnimiation {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 35px 35px;
	}
}

@keyframes glow {
	0% {
		// width: 0px;
		top: -10px;
		// height: 2px;
		// box-shadow: 0 0 4px 2px rgba(0, 128, 0, 0.101);
	}

	// 50% {
	// 	width: 5px;
	// 	height: 15px;
	// }
	100% {
		// width: 0px;
		// height: 2px;
		top: 110%;
		// box-shadow: 0 0 8px 4px rgba(5, 73, 5, 0.489);
	}
}

@keyframes partyCardSlideIn {
	from {
		transform: translateY(-30px);
		// transform: scale(0);
	}

	to {
		// transform: scale(1);
		transform: translateY(0px);
	}
}
