.party-wrapper {
  position: relative;
  margin-top: 25px;
  margin-right: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 3fr;
      grid-template-columns: 5fr 3fr;
  width: 350px;
  min-height: 150px;
  border-radius: 2px;
  background: #fbfbfb;
  -webkit-box-shadow: 0px 0px 3.5px 2.5px #00000014;
          box-shadow: 0px 0px 3.5px 2.5px #00000014;
}

.party-wrapper .details-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.party-wrapper .details-container .detail-row {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.party-wrapper .details-container .details-title {
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 3px;
}

.party-wrapper .details-container #name {
  margin-bottom: 7px;
  font-size: 15px;
  color: #424242;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.party-wrapper .details-container #description .details-value {
  display: block;
  margin-left: 0;
}

.party-wrapper .details-container .sub-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.party-wrapper .details-container .sub-details-container #payment svg {
  width: 7px;
  margin-top: 2px;
}

.party-wrapper .details-container .edit-btn {
  width: 14px;
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
}

.party-wrapper .time-remaining-cta-container {
  background-color: #616c70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  color: white;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container #title {
  font-size: 12px;
  margin-bottom: 5px;
  max-width: 100px;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container #time {
  font-size: 28px;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container #time-remaining {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container .time-start-end-container {
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container .time-start-end-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.party-wrapper .time-remaining-cta-container .time-remaining-container .time-start-end-container .detail-row {
  margin-top: 15px;
  text-align: center;
}

.party-wrapper .time-remaining-cta-container .cta-container {
  width: 100%;
  position: relative;
}

.party-wrapper .time-remaining-cta-container .cta-container button {
  position: relative;
  width: 100%;
  border: none;
  padding: 7px 0;
  background-color: #6fa037;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .5px;
  border: 3px solid #6fa037;
}

.party-wrapper .time-remaining-cta-container .cta-container button span {
  z-index: 100;
}

.fill {
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  -webkit-animation: progressAnimiation 2s linear infinite;
          animation: progressAnimiation 2s linear infinite;
  max-width: 100%;
  overflow: hidden;
}

.fill:before, .fill:after {
  content: '';
  position: absolute;
  width: 1px;
  top: -10px;
  height: 15px;
  right: 0;
  background: #fdfdfd9e;
  -webkit-box-shadow: 0 0 2px 1px #ffffff89;
          box-shadow: 0 0 2px 1px #ffffff89;
  -webkit-animation: glow 1000ms linear infinite normal;
          animation: glow 1000ms linear infinite normal;
}

.fill:after {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.reservation {
  background-color: #c9dfeb !important;
}

.over-due {
  background-color: #f68e8e;
}

@-webkit-keyframes progressAnimiation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}

@keyframes progressAnimiation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}

@-webkit-keyframes glow {
  0% {
    top: -10px;
  }
  100% {
    top: 110%;
  }
}

@keyframes glow {
  0% {
    top: -10px;
  }
  100% {
    top: 110%;
  }
}
/*# sourceMappingURL=partyCard.css.map */