#add-people-container {
	width: 100%;
	// background: #fbfbfb;
	// padding: 25px 15px 60px;
	// box-shadow: 1px 1px 3px 0px #00000029;
}

.input-container-wrapper {
	position: relative;

	.input-container {
		display: block;
		margin-top: 20px;
		// display: flex;
		flex-direction: column;
		justify-content: space-between;

		input[type='text'],
		textarea,
		select {
			padding: 12.5px 10px;
			border: 2px solid #cac8c8a6;
			border-radius: 2px;
			margin-top: 5px;
			// display: block;
			font-family: 'Open Sans', sans-serif;
			width: 100%;

			&:focus {
				// color: red;
				outline: 0.9px solid #0067734a;
			}
		}
	}

	.input-container label,
	#walkIn-res__container .title,
	#payment-container .title,
	select,
	select option {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: #4d4c4c;
	}

	//Submit Button
	.input-container-button {
		// position: absolute;
		// right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		// flex-direction: column;

		background-color: #5cb85c;
		border-radius: 2px;
		color: white;
		font-size: 12px;
		width: 100%;
		height: 50px;
		margin-top: 30px;
		transition: 80ms ease;
		cursor: pointer;

		span {
			font-size: 16px;
			margin-right: 10px;
		}

		svg {
			margin-top: 3px;
			color: white;
			width: 14px;
		}

		&:hover {
			background-color: rgb(77, 165, 77);
		}
	}

	.select-option-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		.radio-container {
			display: flex;
			justify-content: space-evenly;
			width: 70%;
			align-items: center;
			.btn-radio {
				cursor: pointer;
				display: inline-block;
				float: left;
				-webkit-user-select: none;
				margin-top: 5px;
				user-select: none;
				&:not(:first-child) {
					margin-left: 20px;
				}
				@media screen and (max-width: 480px) {
					display: block;
					float: none;
					&:not(:first-child) {
						margin-left: 0;
						margin-top: 15px;
					}
				}
				svg {
					fill: none;
					vertical-align: middle;
					circle {
						stroke-width: 2;
						stroke: #c8ccd4;
					}
					path {
						stroke: #5cb85c;
						&.inner {
							stroke-width: 6;
							stroke-dasharray: 19;
							stroke-dashoffset: 19;
						}
						&.outer {
							stroke-width: 2;
							stroke-dasharray: 57;
							stroke-dashoffset: 57;
						}
					}
				}
				input {
					display: none;
					&:checked + svg {
						path {
							transition: all .4s ease;
							&.inner {
								stroke-dashoffset: 38;
								transition-delay: .3s;
							}
							&.outer {
								stroke-dashoffset: 0;
							}
						}
					}
				}
				span {
					display: inline-block;
					vertical-align: middle;
					margin-left: 8px;
				}
			}
		}
	}

	textarea {
		display: inherit;
		resize: none;
		width: 240px;
	}
}

// #num-of-people {
// 	display: grid;
// 	grid-template-columns: repeat(6, 1fr);
// }

#walkIn-res__container,
#payment-container {
	position: relative;
	margin-top: 15px;
	transition: 100ms;
	margin-top: 20px;

	.walkIn-res__wrapper {
		display: flex;
		margin-top: 5px;

		.walkIn-res__btn {
			cursor: pointer;
			padding: 8px 14px;
			border-radius: 2px;
			// border: 1px solid rgb(156, 156, 156);
			border: 2px solid #cac8c8a6;

			#reservation {
				margin-left: -1px;
			}
		}
	}

	.active {
		background-color: #444444;
		color: white;
		border: none !important;
		padding: 10px 14px !important;
	}
}

.react-time-picker {
	//   position: absolute;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
