.cattery-container {
	display: grid;
	grid-template-columns: 200px 1fr;
	// max-width: 1100px;
	position: relative;

	h1 {
		font-size: 24px;
		color: #616c70;
	}
}

#cattery-panel-col {
	height: 100vh;
	background: rgb(240, 240, 240);
	overflow-y: scroll;
}

#cattery-body-col {
	padding: 25px;
	// max-width: 850px;

	h3 {
		font-size: 22px;
		// margin-top: 40px;
		color: #616c70;
	}

	.row-container+.row-container {
		margin-top: 40px;
		padding-top: 30px;
		border-top: 2px solid #cdc9c9b8;
	}
}

.modal-btn {
	position: fixed;
	top: 3%;
	right: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	z-index: 10000;
	box-shadow: 0 0 16px 13px #ffffff;
	background: white;
	border-radius: 50%;

	.text {
		font-size: 10px;
		margin-bottom: 5px;
		font-weight: 600;
	}

	.btn {
		background-color: #5cb85c;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 100ms;

		&:hover {
			background-color: rgb(77, 165, 77);
		}

		svg {
			color: white;
			width: 20px;
		}
	}
}

#time-and-people-container {
	background-color: rgb(66, 66, 66);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 150px;

	//Makes both wrappers Flex
	#current-time-wrapper,
	#current-number-of-people-wrapper {
		display: flex;
		align-items: center;
	}

	.primary-value {
		position: relative;
		font-size: 30px;
		font-weight: bold;
		margin-left: 8px;
	}

	//The icon
	svg {
		margin-top: 5px;
		color: white;
		width: 24px;
	}

	//Open spots remaining in Cattery number
	.number-in-cattery {
		margin-right: 8px;
	}

	//Current time wrapper
	.open-spots {
		font-size: 14px;
		font-weight: normal;
	}
}

.test-mode {
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	/* left: 50%; */
	// top: 10px;

}