#party-size-availability-container {
    // margin: 0 50px;
    padding: 25px 12px;

    h2 {
        font-size: 16px;
        padding-bottom: 15px;
    }


    .next-available-time {
        font-size: 14px;
    }

}