#party-size-availability-container {
    // margin: 0 50px;
    padding: 25px 12px;

    h2 {
        font-size: 17px;
        padding-bottom: 15px;
        font-weight: normal;
        font-family: 'Work Sans', sans-serif;
    }


    .next-available-time {
        font-size: 14px;
    }

}