@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Work+Sans:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: 'Work Sans', sans-serif;
}

body {
	/* padding: 20px; */
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: #4d4c4c;
}

h1 {
	font-family: 'Work Sans', sans-serif;
	color: #4d4c4c;
}

/* h1 {
    font-family: 'Open Sans', sans-serif;
} */
button {
	cursor: pointer;
}

input[type="text"] {
	-webkit-appearance: none;
	border-radius: 0;
}

.refresh-data {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 15px 20px;
	background-color: rgb(255, 221, 72);
	border-radius: 2px;
	cursor: pointer;
	font-size: 14px;
}
